p, li {
  font-size: 1.5rem;
}
.App {
  text-align: center;
}

body {
  background-color: black !important;
  color: white !important;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* .photodiode-box {
  position: fixed;
  bottom: 3px;
  right: 3px;
  display: flex;
  outline: 3px solid rgb(80,80,80);
  margin: auto;
  height: 50px;
  width: 50px;
} */

/* .photodiode-spot {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
} */

/* .main-prompt, .beads_container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center !important;
} */

/* .main-prompt {
  margin-top: -10%;
  margin-bottom: -5%;
} */

/* .outerbox {
  width: 100vw;
  height: 100vh;
  background-color: black;
} */

/*
grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3;
  justify-self: center;
*/

.grid_container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 11vw 26vw 26vw 26vw 11vw;
  grid-template-rows: 11vh 26vh 26vh 26vh 11vh;

}

/* .grid_container_happiness {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 33vh 33vh 33vh;
} */

.fixation-plus {
  background-color:white;
  width: 2vw;
  height: 2vw;
  border-radius:50%;

  justify-self: center;
  align-self: center;

  grid-column-start: 3;
  grid-column-end: 3;

  grid-row-start: 3;
  grid-row-end: 3;
}

.left {
  background-color:white;
  width: 18vw;
  height: 18vw;

  justify-self: center;
  align-self: center;

  grid-column-start: 2;
  grid-column-end: 2;

  grid-row-start: 3;
  grid-row-end: 3;

}

.right-top {
  background-color:white;
  width: 18vw;
  height: 18vw;

  justify-self: center;
  align-self: center;

  grid-column-start: 4;
  grid-column-end: 4;

  grid-row-start: 2;
  grid-row-end: 2;

}

.right-bot {
  background-color:white;
  width: 18vw;
  height: 18vw;

  justify-self: center;
  align-self: center;

  grid-column-start: 4;
  grid-column-end: 4;

  grid-row-start: 4;
  grid-row-end: 4;

}

.happiness_stimulus{
  background-color:black;
  color: white;
  font-size: 30px;
}

.jspsych-btn {
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #efefef;
  background-color: #d3d3d3;
  margin: 1rem;
  width: 10rem !important;
}

#jspysch-html-slider-response-container input {
  width: 90% !important;
}
