p, li {
  font-size: 1.5rem;
}
.App {
  text-align: center;
}

/* body {
  background-color: black !important;
} */

html,
body {
  background-color: black !important;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

span {
  color: white;
  font-size: 100% !important;
}


.jspsych-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#jspsych-html-slider-response-wrapper {
  width: 70vw;
}


.grid_container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 11vw 26vw 26vw 26vw 11vw;
  grid-template-rows: 11vh 26vh 26vh 26vh 11vh;

}

.fixation-plus {
  background-color:white;
  width: 2vw;
  height: 2vw;
  border-radius:50%;

  justify-self: center;
  align-self: center;

  grid-column-start: 3;
  grid-column-end: 3;

  grid-row-start: 3;
  grid-row-end: 3;
}

.box {
  background-color:white;
  width: 18vw;
  height: 18vw;
  display: flex;
  align-items: center;
  align-self: center;
  text-align: center;
  justify-content: center;
  font-size: 40px;
}

.left {
  grid-column-start: 2;
  grid-column-end: 2;

  grid-row-start: 3;
  grid-row-end: 3;

}

.right-top {
  grid-column-start: 4;
  grid-column-end: 4;

  grid-row-start: 2;
  grid-row-end: 2;

}

.right-bot {
  grid-column-start: 4;
  grid-column-end: 4;

  grid-row-start: 4;
  grid-row-end: 4;

}

.happiness_stimulus{
  background-color:black;
  color: white;
  font-size: 30px;
}

.jspsych-btn {
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #efefef;
  background-color: #d3d3d3;
  margin: 1rem;
  width: 10rem !important;
}
